/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.centr{
    display: flex; // FlexBox
align-items: center; // выравнивает по вертикали
justify-content: center; //выравнивает по горизонтали
}